.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #3366cc;
  color: #fff;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}

.navbar-menu {
  flex-grow: 1;
  text-align: center; /* Alteração: Centralizar os itens do menu */
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Alteração: Centralizar os itens do menu */
}

.nav-item {
  margin: 0 10px; /* Alteração: Espaçamento entre os itens */
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.search-input {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.search-button {
  padding: 8px 16px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
}

/* Restante do código do Navbar.css permanece o mesmo */
